.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 10px;
}

.carousel-control-prev-icon {
  background-image: url("./../../images/play.svg") !important;
  transform: scaleX(-1);
}

.carousel-control-next-icon {
  background-image: url("./../../images/play.svg") !important;
}
