.aboutPage {
  margin: 30px;
}

.container {
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 50px;
  width: 650px;
  position: relative;
  width: 650px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  align-items: center;
}

.container > p {
  padding-top: 20px;
  text-align: justify;
}
