.noProducts {
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: auto;
  left: 0;
  right: 0;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.noProducts {
  width: 100%;
  text-align: center;
  color: #888;
  margin-top: 20px;
}
