.noProducts {
  height: 200px; /* Set your desired height */
  text-align: center;
  line-height: 200px; /* Should be equal to the height to vertically center content */
  margin: auto; /* Center horizontally */
  left: 0;
  right: 0;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.noProducts {
  width: 100%; /* Ensure full width when there are no products */
  text-align: center;
  color: #888;
  margin-top: 20px;
}
